*{
  padding: 0px;
  margin: 0px;
  box-sizing:  border-box;
}

.navbar{
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-container{
  height: 70px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo p{
  font-weight: bolder;
  font-size: 25px;
  margin-left: 20px;
}

.contact{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 20px;
}
.contact li{
  text-decoration: none;
  list-style: none;
}

.sign-up{
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up .demo{
  height: 48px;
  width: 180px;
  background-color: #C2DBFF;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color:  #257CFF;
  border-radius: 8px;

}

.sign-up button{
  padding: 16px 22px;
  border-radius:  8px;
  border:  none;
  background-color: #257CFF;
  color: white;
  margin-left: 10px;
}